@using TaawonMVC.Web.Models.Common.Modals
@model TaawonMVC.Web.Models.BuildingUses.BuildingUsesViewModel
@{
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditBuildingType")))

<div class="modal-body">
    <form name="UserEditForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" id="Id" value="@Model.BuildingUsesOutput.id" />
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li role="presentation" class="active"><a href="#edit-user-details" data-toggle="tab">Building Type Details</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane animated fadeIn active" id="edit-user-details">

                <div class="row clearfix" style="margin-top:10px;">
                    <div class="col-sm-12">
                        <div class="form-group form-float">
                            <div class="form-line">
                                <input id="usedFor" type="text" name="usedFor"  value="@Model.BuildingUsesOutput.UsedFor" required maxlength="32" minlength="2" class="validate form-control">
                                <label for="usedFor" class="form-label">@L("UsedFor")</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/Views/BuildingUses/_EditUserModal.js"></script>